*.csproj.user
**/bin
**/obj
**/debug
**/wwwroot
**/node_modules
**/Win32
**/x64
**/release
**.vs
CICD/work/*
*/babel_cache/*
/babel_cache/
babel_cache/
packages
/*.user
**.ruleset
src/.vscode/
.idea/
*.adg
*.adea
IDEWorkspaceChecks.plist
*.updaterId
*.TMP
build/Logs/
.DS_Store
CDNPrefix
*.wixobj
SharedCheckSum.h
